export const {{.UnionName}} = [
{{- range .Fields}}
	{{- $lines := splitLines .Doc -}}
	{{ if gt (len $lines) 0 }}
		{{- range $lines}}
		// {{.}}
		{{- end}}
	{{ end }}
	"{{.Name -}}",
{{- end}}
] as const;

export type {{.TypeName}} = typeof {{.UnionName}}[number];
